<p id="notice"><%= notice %></p>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <%= link_to "Landing", root_path, class: 'nav-link btn btn-primary', id: 'font' %>
  </li>
</ul>
</br>
<div class='jumbotron'>
  <h1>Businesses</h1>
</div>

<table class='table table-dark table-hover'>
  <thead>
    <tr>
      <th style='width:33%'>Name</th>
      <th style='width:33%'>City</th>
      <th style='width:26%'>State</th>
      <th style='width:8%'>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.name %></td>
        <td><%= business.city %></td>
        <td><%= business.state %></td>
        <td><%= link_to 'Show', dashboard_business_path(business), class: 'btn btn-primary', id: 'font' %></td>
        <td><%= link_to 'Edit', edit_dashboard_business_path(business), class: 'btn btn-secondary', id: 'font' %></td>
        <td><%= link_to 'Destroy', dashboard_business_path(business), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', id: 'font' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_dashboard_business_path, class: 'btn btn-success', id: 'font' %>
